@import '../../global';

.projects {
    background-color: $mainColor;
     @include flex(column, flex-start);

    .container {
        
        .title-container {
           @include section-title();
        }

        .ul-container {
            @include flex(row, center);

            .li-item {
                margin-top: 50px;
                margin-right: 60px;
                font-size: 18px;
                padding: 9px;
                border-radius: 10px;
                cursor: pointer;
                color: $mainBackColor;
                background-color: $mainColor;
                transition: 0.3s ease;
            
                &.active {
                    color: $mainColor;
                    transition-duration: 0.5s;
                    background-color: $mainBackColor;
                }
            }
        }
    }

    .image-container {
        margin-top: 30px;
        @include flex(row, center);
        flex-wrap: wrap;
        position: relative;


        .overlay {
            @include flex(row, center);
            margin: 20px;
            border-radius: 20px;
            border: 1px solid $mainColor;
            opacity: 1;
            transition: 1.5s ease;

            &.active {
                transition-duration: 1.5s;
                opacity: 1;
            }

            .image {
                width: 350px;
                height: 300px;
                object-fit: cover;
                z-index: 1;
            }

            .items {
                position: absolute;
                @include flex(column, space-between);
                
            h2 {
                margin-bottom: 20px;
                font-size: 24px;
                color: $mainColor;
            }

            .nested-items {
                @include flex(row, space-between);

                .link {
                   @include button($mainColor, $mainBackColor, 16);
               }
            }         
          }
            
            &:hover {
                background-color: $mainBackColor;
                transition-duration: 0.3s;
                .image{
                    opacity: 0.2;
                    z-index: 0;
                }
            }

        }

    }
}