@import '../../global';

.about {
    background-color: $mainColor;
    background: url('../../wave4.svg');
    background-repeat: no-repeat;
    background-size: cover;
    @include flex (row, flex-start, center);

    .container {
          @include flex(column, center, center);
            .image {
                width: 300px;
                height: 300px;
                object-fit: cover;
                border-radius: 200px;
                margin-bottom: 20px;
                
                @include mobile(500px) {
                   width: 250px;
                   height: 250px;
                   margin-bottom: 20px;
                }
            }
            h1 {
                color: $mainColor;
                letter-spacing: 3px;
                margin-bottom: 80px; 

                @include mobile(500px) {
                    font-size: 30px;
                    margin-bottom: 30px; 
                }
            }
            h2 {
                font-size: 18px;
                margin-bottom: 60px;
                color: $mainColor;
                letter-spacing: 3px;

                @include mobile(500px) {
                    margin-bottom: 30px;
                }
            }
            p {
                text-align: center;
                font-size: 20px;
                padding: 10px;
                width: 500px;
                color: $mainBackColor;

                @include mobile(500px) {
                    font-size: 16px;
                    padding: 5px;
                    width: 300px;
                    margin-bottom: -15px;
                }
            }
            .stack {
                @include stack(500px);

                @include mobile(500px) {
                    @include stack(300px);
                }
            }
    }
     
}