@import '../../global';

.contact {
    background-color: $mainColor;
    background: url('../../otherAssets/contact-wave2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    @include flex(row, flex-start, center);

    .form-cont {
        @include flex(column, center, space-between);
        flex: 0.5;
        position: relative;
        width: 100%;
        height: 100%;

        @include mobile(1026px){
          flex: 0.6;
       }

        @include mobile(874px){
          flex: 1;
          width: 350px;
        }

        .elements {
            @include flex(column, center, center);
            flex: 0.8;
            margin-right: 150px;
            width: 600px;

            @include mobile(1150px){
              margin-right: 100px;
            }

            @include mobile(964px){
              margin-left: 70px;
              margin-right: 0;
            }

            @include mobile(874px){
              margin-left: 0;
            }

            h1 {
                font-size: 30px;
                letter-spacing: 3px;
                text-align: center;
                color: $mainColor;
                margin-top: 40px;
                margin-bottom: 40px;

               @include mobile(1150px){
                 font-size: 30px;
               } 

               @include mobile(600px){
                margin-top: 10px;
              }
            }
           
            .text {
                height: 80px;
                border-radius: 10px;
            }
            
            h2, h3, h4 {
                color: $mainColor;
            } 

            .box {
                display: flex;
                flex-direction: column;
            } 

            .form-content {

              .form {
                width: 350px;
                @include flex(column, flex-start, center); 

                .form-inputs {
                  @include flex(column, flex-start, center);
                  width: 100%;

                  .form-label {
                    display: inline-block;
                    font-size: 1rem;
                    margin-bottom: 6px;
                    color: #fff;
                  }
    
                  .form-input {
                    display: block;
                    padding-left: 10px;
                    margin-bottom: 20px;
                    outline: none;
                    border-radius: 20px;
                    height: 40px;
                    width: 80%;
                    border: none;
                    &::placeholder {
                      color: #595959;
                      font-size: 12px;
                    }
                  }

                  .message {
                    height: 80px;
                    padding-top: 10px;
                  }
    
                  p {
                    font-size: 0.8rem;
                    margin-bottom: 15px;
                    color: #f00e0e;
                  }
                }

                .form-input-btn {
                  width: 80%;
                  height: 50px;
                  margin-top: 10px;
                  border-radius: 20px;
                  background: linear-gradient(
                    90deg,
                    #ffd55a 0%,
                    #f8da82 100%
                  );
                  outline: none;
                  border: none;
                  color: $mainBackColor;
                  font-size: 1rem;
                  &:hover {
                    cursor: pointer;
                    background: linear-gradient(
                      90deg,
                      #ffd55a 0%,
                      #c79a13 100%
                    );
                    transition: all 0.4s ease-out;
                  }
                }
                
              }
            }  
        }
        
        .icons {
            @include flex(row, center, center);
            flex: 0.2;
            margin-right: 100px;

            @include mobile(1280px){
              margin-right: 80px;
            }

            @include mobile(1184px){
              margin-right: 60px;
            }

            @include mobile(1140px){
               margin-right: 0px;
            }

            @include mobile(520px){
              @include flex(column, flex-start, flex-start);
              margin-right: 110px;
           }
           
            .git-lin {
              @include flex(row, center, center);
            }

            .phone {
              @include flex(row, center, center);
            }

            .email {
              @include flex(row, center, center);
            }

            .icon {
                color: $mainColor;
                font-size: 35px;
                margin: 5px;
            }

            h3 {
                font-size: 18px;
                color: $mainColor;
                text-align: center;
            }
        }
    }

    .draw {
        width: 100%;
        height: 100%;
        @include flex(column, center, center);
        flex: 0.5;

        @include mobile(1026px){
          flex: 0.4;
        }

        @include mobile(874px){
          flex: 0;
        }

        img {
            width: 100%;

            @include mobile(1150px){
              width: 500px;
              margin-left: 120px;
              margin-top: -80px;
            }

            @include mobile(964px){
              width: 350px;
              margin-left: 140px;
              margin-top: -80px;
            }

            @include mobile(874px){
              display: none;
            }
        }
    }
}
