@import '../../global';

.contact {
    background-color: $mainColor;
    background: url('../../contact-wave2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    @include flex(row, center);
    .form {
        position: relative;
        width: 100%;
        height: 100%;
        @include flex(column, center);
        flex: 0.5;
        .elements {
            @include flex(column, center);
            margin-right: 150px;
            width: 600px;
            h1 {
                font-size: 40px;
                letter-spacing: 3px;
                text-align: center;
                color: $mainColor;
                margin-bottom: 40px;
            }
            input, textarea {
                margin-bottom: 20px;
                width: 300px;
                border-radius: 10px;
            }
            textarea {
                height: 150px;
                padding-top: 10px;
            }
            .text {
                height: 80px;
                border-radius: 10px;
            }
            button {
                @include button($mainBackColor, $mainColor, 16px);
            }
            h2, h3, h4 {
                color: $mainColor;
            } 
            .textField {
                background-color: #fff;
                border-radius: 10px;
            }
            .box {
                display: flex;
                flex-direction: column;
            }

            
        }
        
        .icons {
            position: absolute;
            display: flex;
            flex-direction: row;
            left: 10px;
            bottom: 10px;
            .icon {
                color: $mainColor;
                font-size: 40px;
                margin: 5px;
            }
            h3 {
                font-size: 18px;
                color: $mainColor;
                text-align: center;
                margin-top: 12px;
            }
        }
    }
    .draw {
        width: 100%;
        height: 100%;
        @include flex(column, center);
        flex: 0.5;
        img {
            width: 100%;
        }
    }
}
  

  .form-inputs p {
    font-size: 0.8rem;
    margin-bottom: 15px;
    color: #f00e0e;
  }
  
  .form-label {
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 6px;
    color: #fff;
  }
  
  .form-input {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: none;
  }
  
  .form-input::placeholder {
    color: #595959;
    font-size: 12px;
  }
  
  .form-input-btn {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background: linear-gradient(
      90deg,
      #ffd55a 0%,
      #f8da82 100%
    );
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
  }
  
  .form-input-btn:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      #ffd55a 0%,
      #c79a13 100%
    );
    transition: all 0.4s ease-out;
  }
  
  .form-input-login {
    font-size: 0.8rem;
    margin-top: 10px;
    color: #fff;
    width: 80%;
    text-align: center;
  }
  
  .form-input-login a {
    text-decoration: none;
    color: #27cdff;
    font-weight: 600;
  }