@import '../../global.scss';

.intro {
    display: flex;

    .left {
        flex: 0.5;
        background-color: $mainColor;
        @include flex(column, center, center);

        @include mobile(812px) {
            flex: 1;
        }

        .left-title {
            font-size: 30px;
        }

        .left-f-title {
            color: $sliderColor;
            margin: 50px;
            font-size: 70px;
            font-weight: 600;
            letter-spacing: 3px;

            @include mobile(1022px) {
              font-size: 50px;
            }

            @include mobile(512px) { 
              margin: 40px 10px;   
            }
        }

        .left-span {
            color: $sliderColor;
            font-size: 30px;
        }

        .ityped-cursor {
            animation: blink 1s infinite;
        }

        @keyframes blink {
            50% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
    }

    .right {
        flex: 0.5;
        background-color: $mainBackColor;
        @include flex(column, center, center);

        @include mobile(812px) {
          flex: 0; 
        }

        .right-image {
            margin-top: 150px;
            width: 90%;
        }

        .right-link {
          @include flex(column, flex-end, flex-end);
           min-width: 600px;
           min-height: 100px;

            .icon {
                font-size: 60px;
                color: $mainColor;
                 
                cursor: pointer;
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink {
                100% {
                    opacity: 0;
                }
            }

        }
        
    } 
}

