@import '../../global';

.slider {
    background-color: $mainColor;

    .header {
        @include flex(column, center, center);
        width: 100%;  
        h1 {
            @include section-title();
            margin-bottom: 20px;
        }

        .buttons {
            @include flex(row, center, center);
            padding: 0;
            .li-item {
                font-size: 18;
                padding: 9px;
                margin: 10px;
                border-radius: 10px;
                text-decoration: none;
                cursor: pointer;
                &.active {
                    color: $mainColor;
                    background-color: $mainBackColor;
                }
            }  
        }  
    }

    .body {
        @include flex(row, center, center);
        border-radius: 20px;
        margin-top: 20px;
        width: 100%;

        .icon {
            margin: 10px;
            font-size: 60px;
            color: $mainBackColor;

            @include mobile(500px) {
                font-size: 30px;
                margin: 5px;
            }
        }

        .contain {
            background-color: $sliderColor;
            border-radius: 20px;
            @include flex(row, center, center);

            @include mobile(500px) {
                margin-bottom: 20px;
            }

            .content {
                width: 100%;
                @include flex(column, center, center);
                flex: 0.3;

                @include mobile(1036px){
                    flex: 1;
               }

                h1{
                    color: $mainColor;
                    text-align: center;
                    margin-top: 10px;
                    margin-bottom: 20px;
                }
                ul {
                    padding: 0;
                }
                li {
                    color: $mainColor;
                    margin: 20px 10px;
                    text-align: center;
                }
                .stack {
                    @include stack(230px);
                }
                
                .buttons {
                    @include flex(row, center, center);
                    li {
                        @include button($mainBackColor, $mainColor, 22);
                    }
                    a {
                        text-decoration: none;
                        color: $sliderColor;
                    }
                    margin-bottom: 20px;
                }
            }
            .video-cont {
                flex: 0.7;
                position: relative;
                width: 100%;
                @include flex(row, center, center);

                @include mobile(1036px){
                    display: none;
                    flex: 0;
               }

                .slide {
                    transition: 0.5s ease;
                    opacity: 0;

                    .video{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    &.active{
                        transition-duration: 0.5s;
                        opacity: 1;
                    }
                }
            }

        }

        .sliding {
            @include flex(row, center, center);
            transition: 1s ease-in;
            opacity: 0;

            &.active {
                transition-duration: 1s;
                opacity: 1;
            }
        }
    }
}
